<% include partials/header.ejs %>
<div class="jumbotron">
  <h1>About Me</h1>
  <p>I am Divya Raval. <br />
      I am a programmer and currently pursuing my Advance Diploma in Computer Programming at Georgian College.  
      Besides programming, I love cooking, music and I have a passion for travelling in different parts of world.
</p>
</div>
 
</main> 
<% include partials/footer.ejs %>