<% include partials/header.ejs %>
      <!-- Main Content -->
  <main class="container">
    <h1>Divya Raval</h1>
       
 <div class="panel panel-primary"><h1>"Yesterday was a History,<br /> 
                                       Tomorrow is a Mystery, <br />
                                       But Today is a Gift and that is why its called Present"<br /> </h1>
     
  </div>
  </main>
 <% include partials/footer.ejs %>     
   