<% include partials/header.ejs %>
      <!-- Main Content -->
  <main class="container">
    <h1>Divya Raval</h1>
    <p>Computer Programmer</p>     
 <div class="panel panel-primary"><h1>"Travelling is like a book,<br />
                                        if you do not travel, you <br />
                                        read only a page </h1>
     
  </div>
  </main>
 <% include partials/footer.ejs %>     
   