<% include partials/header.ejs %>
<div class="jumbotron">
  <h1>My Favourite People</h1>
<<<<<<< HEAD
  <p><img src="./images/cartoon.jpg" /></p>
=======
  <p><img src="./images/tr.jpg"</p>
>>>>>>> 0638e592309f46f69f0cce712c0e826865e33c9e
</div>
 
</main> 
<% include partials/footer.ejs %>