<% include partials/header.ejs %>
<div class="jumbotron">
  <h1>My Work</h1>
  <p>
    <div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Tom</h4>
    <p class="list-group-item-text"><img src="./images/Tom_Cat.jpg" />
    </p><br />
    <p>Thomas "Tom" Cat is a fictional character and one of the title characters (the other being Jerry Mouse)
         in Metro-Goldwyn-Mayer's series of Tom and Jerry theatrical cartoon short films. 
         Created by William Hanna and Joseph Barbera, Tom is a blue/grey anthropomorphic 
         domestic short-haired cat who first appeared in the 1940 animated short Puss Gets the Boot.
          Tom was originally known as "Jasper" during his debut in that short;however, beginning with
           his next appearance in The Midnight Snack he is known as "Tom" or "Thomas".
    
  </a>
   <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Jerry</h4>
    <p class="list-group-item-text"<img src="./images/jerry.jpg" /> </p> <br />
    <p>Jerry is a fictional character and one of the title characters (the first being Tom)
         in Metro-Goldwyn-Mayer's series of Tom and Jerry theatrical cartoon short films.
         Created by William Hanna and Joseph Barbera, Jerry is a brown house mouse, who first
         appeared as a mouse named Jinx in the 1940 MGM animated short Puss Gets the Boot.
         Hanna gave the mouse's original name as "Jinx", while Barbera claimed the mouse 
         went unnamed in his first appearance.
    </p>
  </a>
   <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Jerry</h4>
    <p class="list-group-item-text"<img src="./images/Donald-Duck.jpg" /> </p> <br />
    <p>Donald Duck is a cartoon character created on June 9, 1934, at Walt Disney Productions.
       Donald is an anthropomorphic white duck with a yellow-orange bill, legs, and feet.
       He typically wears a sailor shirt and cap with a black or red bow tie. 
    </p>
  </a>
</div>
  </p>
</div>
 
</main> 
<% include partials/footer.ejs %>