<% include partials/header.ejs %>
<div class="jumbotron">
  <h1>My Work</h1>
  <p>
    <div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Foodies</h4>
    <p class="list-group-item-text">An online food ordering website. <br />
                                    To make and demonstrate user-friendly system.
    </p>
  </a>
   <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Dysun Vaccums</h4>
    <p class="list-group-item-text">A company website. <br />
                                    To provide required information about the company services to the customers.
    </p>
  </a>
</div>
  </p>
</div>
 
</main> 
<% include partials/footer.ejs %>