<% include partials/header.ejs %>
<div class="jumbotron">
  <h1>My Services</h1>
  <p>
    <div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Programming</h4>
    <p class="list-group-item-text">Languages : Java, C, C++, php, .net <br />
                                    
    </p>
  </a>
   <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Web Development</h4>
    <p class="list-group-item-text">Making websites using html5, CSS 3 <br />
                                    
    </p>
  </a>
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Project Management</h4>
    <p class="list-group-item-text">Microsoft project pmp <br />
                                    
    </p>
  </a>
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Systems Analysis</h4>
    <p class="list-group-item-text">Planning,Designing, Analysing and Testing System <br />
                                    
    </p>
  </a>
</div>
  </p>
</div>
 
</main> 
<% include partials/footer.ejs %>