/* custom css file */

 body{
     background-color: bisque;
 }
 
 .jumbotron{
    position: absolute;
    width: 100%;
    top: 20%;
    padding: 10px 10px 10px 10px;
    color: beige;
    font-family: comic sans ms;
    
}